/*CUSTOM CSS INI*/
:root {
  --primaryColor: #1d1d1d;
  --secondaryColor: #08fdd8;
  --tertiaryColor: #000;
  --detailingColor: #db0087;
  --fontColor: #909096;
}

body {
  padding: 0;
  background: rgba(195, 20, 50, 0.5);
  /* fallback for old browsers */
  background: url("./assets/obligatorioBackground.jpg") no-repeat center center fixed;
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("./assets/obligatorioBackground.jpg") no-repeat center center fixed;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px -5px 5px 0px rgba(lighten(var(--primaryColor), 5%), 0.75), inset 0 0 25px 1px rgba(darken(var(--primaryColor), 15%), 0.75);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
}

.home-page {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: column;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
  outline: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.home-page .page-title {
  background-color: #ddd;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem 1.1rem 0 0;
  padding: 0.2rem 0.6rem;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.toolbar .sections {
  background-color: rgba(37, 38, 40, .21);
  background-image: radial-gradient(circle at 25%, hsla(0, 0%, 100%, .2), rgba(50, 50, 50, .2) 80%);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  padding: 0 1.4rem;
}

.toolbar .sections .section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.a-mod {
  color: #fff;
  text-decoration: none;
}

.a-mod:hover:active:focus:focus-visible {
  color: #fff;
  text-decoration: none;
}

.toolbar .sections .section-container .panels {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
}

.home-page .page-content {
  padding: 1rem;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

form .error {
  color: #ff0000;
}

#second {
  display: none;
}

.logout-form button,
.home-form button {
  color: white;
}

/*CUSTOM CSS END*/